venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env.env
data/raw/
logs/
__pycache__/
.env

.agent/
.pyparse_implementation_plan.md
PsyParse/changes_due_to_api-limit.md
PsyParse/important_changes_for_testing.md
